*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    /* background-color: grey; */
}

.navbar{
    height: 60px;
    background-color: #131921;
    color: #ffffff;
    padding-top: 4px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
}
.nav_logo{
    height: 45px;
    width: 120px;
    padding-top: 3px;
    
    margin-right: 3px;
}

.border{
    cursor: pointer;
    border: 1.3px solid transparent;
    border-radius: 3px;
}
.border:hover{
    border: 1.3px solid white;
}

.logo{
    
    width: 115px;
}
.logo img{
    height: 40px;
    width: 113px;
    
 }


/* second section of the navbar starts here  */

.deliver_container{
    width: 92px;
    height: 60px;
    margin-right: 6px;
}
.deliver{
    display: flex;
    flex-direction: row;
    width: 91px;
    height: 50px;
    align-items: center;
    margin-top: 3px;

}
#deliver_to{
    width: 60px;
    font-size: 14px;
    color: #cccccc;

}
.icon_text{
    display: flex;
    flex-direction: column;
}
#country{
    font-size: 16px;
    color: #ffffff;
}
.icon{
    padding-top: 10px;
}

/* third section i.e. the search container */
.search_container{
    width: 600px;
    height: 40px;
    margin-left: 3px;
    padding: 10px,4px,10px,3px;
    background-color: yellow;
    border-radius: 4px;
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    
}

.search_container select{
    height: 40px;
    width: 52px;
    background-color: #e6e6e6;
    text-align: center;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 0px,0px,0px,5px;
    font-size: 16px;
    outline: none;

}

.search_container input{
    height: 40px;
    width: 100%;
    border: none;
    text-align: left;
    font-size: 17px;
    
    padding-left: 10px;
    
    outline: none;
}


.search_container button{
    height: 40px;
    width: 45px;
    border: none;
    text-align: center;
    background-color: yellow;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    
}


/* fourth section i.e. the language selection part */

.language{
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}
.flag img{
    width: 18px;
}

/* fifth section i.e. the account and listings  */

.hello_Account_listings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 130px;
    padding-left: 5px;
}
.hello{
    font-size: 12px;
}
.accountlistings{
    font-size: 14px;
    font-weight: bolder;
}

/* sixth section return & orders */

.return_orders{
    height: 50px;
    width: 77px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.return{
    font-size: 12px;

}

.order{
    font-size: 14px;
}


/* cart section */
.cart{
    width: 70px;
    height: 50px;
    text-align: center;
    align-items: center;
    
}

.cart img{
    
    height: 50px;
    color:white ;
    
}
/* navbar done */

/* below navbar */

.below_navbar{
    height: 39px;
    
    background-color: #232F3E;
    font-size: 14px;
    color: white;
    display: flex;
    /* justify-content: left; */
}

.all{
    margin-left: 13px;
    height: 38;
    width: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    
    gap: 4px;
    font-weight: bolder;
}


.remaining_header {
    display: flex;
    gap: 10px;
    
}

.remaining_header p{
    font-size: 14px;
    height: 38px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 12px;
    
}

/* header section is completed  */

/* hero section starts here */

.hero{
    height: 651.5px;
    background-image: url(resources/amazon-background-img-v3.jpg);
    background-size: cover;
    
}

.shop{
    display: flex;
    justify-content: space-evenly;
}
.card{
    margin-top: 250px;
    height: 400px;
    width: 23%;
    border: .3px solid pink;
    background-color: rgba(255, 255, 255, 1);
    
}

.gaming{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    
}
.gaming h2{
    padding: 2vw;

}

.game_items{
    display: flex;
    flex-direction: column;
}

.card-links{
    text-decoration: none;
    padding-left: 2vw;
    font-size: 1vw;
    color: #007185;
}

.game_items1, .game_items2{
    display: flex;
    margin-bottom: 3vw
}


.card_items{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    overflow: hidden;
}
.card_items p{
    text-align: left;
    font-size: 1vw;
}

.card_items img{
    padding-left: .6vw;
    height: 100%;
    width: 90%;
    margin-bottom: 1vw;
}

/* card 1 i.e. gaming items is done  */
/* pc card section starts here  */

.pc{
    margin-bottom: 5vw;
}
.pc_content{
    padding: 2vw 1.5vw;
    display: flex;
    flex-direction: column;
    
}
.image{
    height: 21vw;
    width: 19.79vw;
    overflow: hidden;
    margin-top: 1vw;
    margin-bottom: 2.5vw;
}

.image img{
    padding-top: 2vw;
    height: 75%;
    width: 100%;
    scale: 1.4;
}

.pc_content a{
    padding-left: 0;
}

/* pc done here */
/* space starts from here  */




.below_hero{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-image: linear-gradient(to left, #D4A3D2 0%, #9db7e4 100%);
}
.card2{
    margin-top: 1.5vw;
    height: 400px;
    width: 23%;
    border: .3px solid pink;
    background-color: rgba(255, 255, 255, 1);
    
}
